.NavList {
  float: left;
  border-right: 1px solid #ddd;
  &:last-child {
    border-right: 0 none;
  }
  a {
    padding: 0 15px;
    color: #fff;
    font-size: 12px;
    transition: all .3s;
  }
  &:hover {
    a {
      color: #00d8ff;
      transition: all .3s;
    }
  }
}