.MediaModule {
  margin-bottom: 10px;
  box-sizing: border-box;
  &:hover {
    div, p { color: #fff; }
    img { opacity: .8; }
  }
}

.ThumbnailBox {
  float: left;
  width: 30%;
}

.InfoBox {
  float: right;
  width: 70%;
  padding: 5px;
  box-sizing: border-box;
}

.MediaModule {
  /* clearfix */
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
  *zoom: 1;
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  .MediaModule {
    float: left;
    width: 49%;
    &:nth-child(odd) {
      margin-right: 2%;
    }
  }
}

@media screen and (min-width: 769px) {
  .MediaModule {
    float: left;
    width: 355px;
    margin-right: 10px;
    &:nth-child(even) {
      margin-right:  0;
    }
  }
}
